.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 12px;
}

.categoryItem.theory {
  background-color: #57c4ff31;
}
.categoryItem.politicalEconomy {
  background-color: #da85c731;
}
.categoryItem.revolutionaryMovements {
  background-color: #7fb88133;
}
.categoryItem.organization {
  background-color: #ff795736;
}
.categoryItem.news {
  background-color: #ffb04f45;
}
