:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262; 
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);

}

.wrapper {
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 80px;
}

@media screen and (max-width: 1536px){
  
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px){
  
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px){
  
  .wrapper {
    max-width: 768px;
    padding-inline: 40px;
  }
}

@media screen and (max-width: 768px){
  
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px){
  
  .wrapper {
    max-width: 475px;
  }
}