.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.social {
  flex: 1;
  display: flex;
  gap: 10px;
}

.logo {
  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.links {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
