.container {
  height: 20px;
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ball{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
}