.container {
  flex: 2;
  margin-top: 60px;
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 28px;
}

.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: #ffffff;
  width: max-content;
  /* margin-top: 20px; */

}
.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: #ffffff;
  width: max-content;
  /* margin-top: 20px; */

}
.categoryItem {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: #ffffff;
  width: max-content;
  /* margin-top: 20px; */

}

/* Category 1 */
.category.theory {
  background-color: #ff7857;
}

/* Category 2 */
.category.politicalEconomy {
  background-color: #ffb14f;
}
/* Category 2 */
.categoryItem.politicalEconomy {
  background-color: #ffb14f;
}

/* Category 3 */
.category.revolutionaryMovements {
  background-color: #7bf881;
}

/* Category 4 */
.category.organization {
  background-color: #ff7887;
}

/* Category 5 */
.category.news {
  background-color: #775aec;
}

.postTitle {
  font-size: 18px;
  font-weight: 400;
  color: var(--softTextColor);
}

.detail {
  font-size: 12px;
}

.date {
  color: gray;
}