.container {
}

.title {
  margin: 50px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 20%;
  height: 60px;
  justify-content: center;
  border-radius: 5px;
  padding-inline: 15px;
}

.category.theory {
  background-color: #57c4ff31;
}
.category.politicalEconomy {
  background-color: #da85c731;
}
.category.revolutionaryMovements {
  background-color: #7fb88133;
}
.category.organization {
  background-color: #ff795736;
}
.category.news {
  background-color: #ffb04f45;
}

.image {
  border-radius: 50%;
}

@media  screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}

@media  screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media  screen and (max-width: 780px) {
  .category {
    width: 45%;
  }
}

@media  screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}